{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 1000,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "insertPragma": false,
  "quoteProps": "consistent",
  "singleQuote": true
}
